[Unit]
Description=Resol VBUS Collector
After=network.target

[Service]
Type=simple
User=rob
WorkingDirectory=/home/rob/resol-vbus-python-RPi
ExecStart=/usr/bin/python3 /home/rob/resol-vbus-python-RPi/collector.py --db /home/rob/resol-vbus-python-RPi/data/resol_data.db --interval 5
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
